:root {
	--primary-background: #0F172A;
	--text-primary: #94A3B8;
	--color-highlight: #E2E8F0;
	--color-accent: #5EEAD4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: var(--primary-background);
	color: var(--text-primary);
	padding: 1rem;
}

.underlay {
	position: fixed;
	background-color: #172554;
	inset: 0;
	opacity: 0.35;
}

header,
main,
footer {
	position: relative;
	z-index: 10;
	;
}

header {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 300px;
}

header h1,
header h4,
.lightText {
	color: var(--color-highlight);
}

header a {
	text-decoration: none;
}

header h1 {
	font-weight: 700;
}

header h4 {
	font-weight: 400;
}
